<div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon green pull-left">
                    <i class="fa fa-play"></i>
                </div>
                <div class="title">{{vm.tasks.length}}</div>
                <div class="comment">Active</div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon red pull-left">
                    <i class="fa fa-gears"></i>
                </div>
                <div class="title">0</div>
                <div class="comment">Running</div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon orange pull-left">
                    <i class="fa fa-pause"></i>
                </div>
                <div class="title">0</div>
                <div class="comment">Paused</div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon blue pull-left">
                    <i class="fa fa-stop"></i>
                </div>
                <div class="title">0</div>
                <div class="comment">Stopped</div>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <rd-widget style="height: 100% !important;">
            <rd-widget-header icon="fa-users" title="Panteon Tasks">
                <input type="text" placeholder="Search" class="form-control input-sm" ng-model="vm.searchTerm"/>
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <div class="table-responsive">
                    <rd-loading ng-if="vm.tasks.length ===0"></rd-loading>
                    <table class="table" ng-if="vm.tasks.length > 0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>PrevEvent</th>
                            <th>NextEvent</th>
                            <th>Status</th>
                            <th>Progress</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="taskItem in vm.tasks | filter: vm.searchTerm">
                            <td><img ng-if="taskItem.IsRunning" src="img/loader.gif"
                                     style="width: 14px;"/> {{taskItem.Name}}
                            </td>
                            <td>{{taskItem.PrevEvent}}</td>
                            <td>{{taskItem.NextEvent}}</td>
                            <td>
                                <span ng-class="taskItem.IsScheduleRunning ? 'text-success': 'text-danger'">
                                    <i style="font-size: 23px !important;"
                                       ng-class="taskItem.IsScheduleRunning ? 'fa fa-clock-o fa-3': 'fa fa-stop fa-3'"></i>
                                </span>
                            </td>
                            <td width="30%">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="{{taskItem.Progress}}" aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{taskItem.Progress}}%">
                                        <!--<span class="sr-only">45% Complete</span>-->
                                        {{taskItem.Progress}}%
                                    </div>
                                </div>
                            </td>
                            <td width="20%">

                                <div class="btn-group" role="group" aria-label="..." ng-if="false">
                                    <button type="button" class="btn btn-sm btn-default"
                                            ng-click="vm.startTask(taskItem)" ng-disabled="taskItem.IsScheduleRunning">
                                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default"
                                            ng-disabled="!taskItem.IsScheduleRunning">
                                        <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Pause
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default"
                                            ng-disabled="!taskItem.IsScheduleRunning">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default"
                                            ng-click="vm.stopTask(taskItem)" ng-disabled="!taskItem.IsScheduleRunning">
                                        <span class="glyphicon glyphicon-stop"></span> Stop
                                    </button>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
            <rd-widget>
    </div>
</div>