<div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon green pull-left">
                    <i class="fa fa-play"></i>
                </div>
                <div class="title">80</div>
                <div class="comment">Active</div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon red pull-left">
                    <i class="fa fa-gears"></i>
                </div>
                <div class="title">16</div>
                <div class="comment">Running</div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon orange pull-left">
                    <i class="fa fa-pause"></i>
                </div>
                <div class="title">225</div>
                <div class="comment">Paused</div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon blue pull-left">
                    <i class="fa fa-stop"></i>
                </div>
                <div class="title">62</div>
                <div class="comment">Stopped</div>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <rd-widget style="height: 100% !important;">
            <rd-widget-header icon="fa-users" title="Panteon Tasks">
                <input type="text" placeholder="Search" class="form-control input-sm"/>
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <div class="table-responsive">
                    <rd-loading ng-if="vm.tasks.length ===0"></rd-loading>
                    <table class="table" ng-if="vm.tasks.length > 0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>PrevEvent</th>
                            <th>NextEvent</th>
                            <th>Status</th>
                            <th>Progress</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="taskItem in vm.tasks">
                            <td>{{taskItem.Name}}</td>
                            <td>{{taskItem.PrevEvent}}</td>
                            <td>{{taskItem.NextEvent}}</td>
                            <td>
                                <span ng-class="taskItem.IsScheduleRunning ? 'text-success': 'text-error'">
                                    <i ng-class="taskItem.IsScheduleRunning ? 'fa fa-check': 'fa fa-remove'"></i></span>
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="{{taskItem.Progress}}" aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{taskItem.Progress}}%">
                                        <!--<span class="sr-only">45% Complete</span>-->
                                        {{taskItem.Progress}}%
                                    </div>
                                </div>
                            </td>
                            <td>

                                <!-- Split button -->
                                <div class="btn-group">

                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-cog"
                                              aria-hidden="true"></span>
                                        <span class="caret"></span></button>

                                    <ul class="dropdown-menu">
                                        <li><a href="#">Start</a></li>
                                        <li><a href="#">Pause</a></li>
                                        <li><a href="#">Edit</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Run Immediately</a></li>
                                    </ul>
                                </div>

                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
            <rd-widget>
    </div>
</div>